# Default ignored files
/../../dismat1.1./.idea/shelf/
/../../dismat1.1./.idea/workspace.xml
# Datasource local storage ignored files
/../../dismat1.1./.idea/dataSources/
/../../dismat1.1./.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../dismat1.1./.idea/httpRequests/
